@tailwind base;
@tailwind components;
@tailwind utilities;

.choices__list--dropdown,
.choices__list[aria-expanded] {
    background-color: white !important;
    color: #1f2937 !important; 
}

.dark .choices__list--dropdown,
.dark .choices__list[aria-expanded] {
    background-color: #1f2937 !important;
    color: white !important;
}

/* Opciones individuales */
.choices__item--selectable {
    padding: 0.5rem 0.75rem;
}

.dark .choices__item--selectable.is-highlighted {
    background-color: #4b5563 !important;
    color: white !important;
}

.choices__item--selectable.is-highlighted {
    background-color: #e5e7eb !important; 
    color: black !important;
}

.choices__input {
    color: #1f2937 !important; 
}

.dark .choices__input {
    color: #ffffff !important;
}

